---
import Basic from '../layouts/Basic.astro';
import Fragment from '../components/Fragment.astro';
import fragments from '../data/fragments.json';
import '../styles/fragments.css';

---

<Basic>
  <section>
    <div class="container">
      <h1 class="title">A collection of professional fragments from over the years</h1>
    </div>
  </section>
  <div class="fragments">
    {
      fragments
        .sort((a, b) => b.year - a.year)
        .map((fragment) => (
          <Fragment
            name={fragment.name}
            type={fragment.type}
            year={fragment.year}
            agency={fragment.agency}
            client={fragment.client}
            description={fragment.description}
            images={fragment.images}
            prototypes={fragment.prototypes}
          />
        ))
    }
  </div>
</Basic>
