---
import '../styles/row.css';
import { Image } from 'astro:assets';
import localImprivata from '../assets/images/imprivata__teaser.png';
import localAerospace from '../assets/images/aerospace__teaser.png';
import localSunpower from '../assets/images/sunpower__teaser.png';
import localDraper from '../assets/images/draper__teaser.png';
import localSwedishNews from '../assets/images/swedishnews__teaser.png';
import localNodeCodeConf from '../assets/images/nodecodeconf__teaser.png';
---

<section>
  <div class="container">
    <h1 class="movement larger center">How I’ve helped others</h1>
    <div class="row row--teasers">
      <a href="case-studies/imprivata" class="column">
        <Image src={localImprivata} alt="Doctor holding mobile device. Photographed by Daniel Sone for National Cancer Institute." />
        <p class="bold block">Rebuilding Imprivata's Complex Drupal Platform</p>
        <span class="smaller block">Read the case study ➝</span>
      </a>
      <a href="case-studies/aerospace" class="column">
        <Image src={localAerospace} alt="The Space Shuttle Challenger launching from Complex 39. Photo courtesty of NASA." />
        <p class="bold">Guiding Aerospace's Content Strategy and Procedures Into the Future</p>
        <span class="smaller block">Read the case study ➝</span>
      </a>
      <a href="case-studies/sunpower" class="column">
        <Image src={localSunpower} alt="Array of solar panels on a hill. Photographed by Moritz Kindler." />
        <p class="bold">Enlightening Sunpower's Key Lead Generation Funnel</p>
        <span class="smaller block">Read the case study ➝</span>
      </a>
      <a href="case-studies/draper" class="column">
        <Image src={localDraper} alt="Apollo 11 astronaut Buzz Aldrin walks on the surface of the moon on July 20, 1969, in a photograph taken by Neil Armstrong." />
        <p class="bold">Bestowing Draper Labs With a History-Driven Web Experience</p>
        <span class="smaller block">Read the case study ➝</span>
      </a>
      <a href="case-studies/swedish-news" class="column">
        <Image src={localSwedishNews} alt="Graphic tee on a hanger" />
        <p class="bold">A Decade+ of Leading the Creative for a Scandinavian Lifestyle Publisher</p>
        <span class="smaller block">Read the case study ➝</span>
      </a>
      <a href="ncc-in-medium" class="column">
        <Image src={localNodeCodeConf} alt="Dan Arbello standing in a mirror structure at No Code Conference" />
        <p class="bold">Life is not static — your designs shouldn’t be either</p>
        <span class="smaller block">Access the presentation ➝</span>
      </a>
    </div>
  </div>
</section>