---
import Basic from '../../layouts/Basic.astro';
import '../../styles/patterns.css';
import { Image } from 'astro:assets';
import imageInline01 from '../../assets/images/inline__nordic_reach_01a.jpeg';
import imageInline02 from '../../assets/images/inline__nordic_reach_01.jpeg';
import imageInline03 from '../../assets/images/inline__nordic_reach_02.jpeg';
import imageInline04 from '../../assets/images/inline__nordic_reach_03.jpeg';
import imageInline05 from '../../assets/images/inline__nordic_reach_04.jpeg';
import imageInline06 from '../../assets/images/inline__nordic_reach_05.jpeg';
import imageInline07 from '../../assets/images/inline__nordic_reach_06.jpeg';
import imageInline08 from '../../assets/images/inline__nordstjernan_01.jpeg';
import imageInline09 from '../../assets/images/inline__nordstjernan_02.jpeg';

const metadata = {
  title: 'Creative Directing Nearly a Decade of Scandinavian Publisher',
  description: 'I served as a creative director for nearly as decade on all properties for Swedish News Inc., including the prestigious Nordic Reach magazine and the historic Nordstjernan newspaper.'
};
---

<Basic {metadata}>
  <section class="case-study">
      <div class="container">
        <p class="eyebrow small--extra">Case Study</p>
        <h1 class="largest">{metadata.title}</h1>
        <div class="case-study__details small--extra row left-align row--four row--compact">
          <p class="column">Agency: Self</p>
          <p class="column">Role: Creative Director</p>
          <p class="column">Year: 2005-2014</p>
          <p class="column">Client: Swedish News, Inc.</p>
        </div>
        <details open>
          <summary>Summary</summary>
          <p>For nearly a decade, I had the privilege of working closely with Ulf Mårtensson, the editor-in-chief and owner of Swedish News, Inc.: publisher of the Scandinavian lifestyle magazine <i>Nordic Reach</i> and a Swedish-American newspaper that has been in circulation since 1872, <i>Nordstjernan</i>. My journey began at Flat, a SoHo ad boutique that was charged with designing/producing <i>Nordic Reach</i>. Eventually, when I moved on from Flat, Ulf came with me. I took over the creative role not only for the magazine but most of the publications that come out of Swedish News.
        </details>
        <details open>
          <summary>Collaboration & Projects</summary>
          <p>The collaboration with Ulf extended beyond the magazine and newspaper, encompassing a variety of projects that focused on Scandinavian art, heritage, and culture. Notable endeavors included:</p>
          <ul>
            <li><strong>Books and Novels:</strong> I contributed my design and production skills to countless paperback books and novels, helping bring captivating stories, cookbooks, and biographies to life.</li>
            <li><strong>Printed Resources and Peripherals:</strong> My role encompassed designing and producing a wide range of printed materials and peripherals, maintaining a consistent visual identity across various touchpoints.</li>
            <li><strong>Digital Products:</strong> I played a pivotal role in the design of the information architecture, user experience, and theming of the magazine, newspaper, and news forum properties.</li>
          </ul>
        </details>
        <details open>
          <summary>Role & Skillset</summary>
          <p>My role spanned various creative domains, allowing me to contribute significantly to the success of <i>Nordic Reach</i>, <i>Nordstjernan</i>, and even the quartlery insert for the newspaper for The Vasa Star. My responsibilities included:</p>
          <ul>
            <li><strong>Art Direction:</strong> Providing creative direction to ensure the visual appeal and coherence of the publications.</li>
            <li><strong>Design and Production:</strong> Crafting visually stunning layouts and overseeing the production process to deliver high-quality prints.</li>
            <li><strong>Illustration:</strong> Creating original illustrations to complement articles and enhance the overall visual storytelling.</li>
            <li><strong>Photo and Video Editing:</strong> Curating and editing captivating imagery and videos to enrich the reader's experience.</li>
            <li><strong>Copywriting:</strong> Crafting compelling copy to convey the essence of stories and captivate the audience.</li>
          </ul>
        </details>
        <details open>
          <summary>Format & Reach</summary>
          <p>The publications' formats and reach were remarkable:</p>
          <ul>
            <li><strong><i>Nordic Reach</i></strong> A quarterly 48- to 64-page magazine, captivating an audience of over 40,000 subscribers with each issue in its peak distrubtion cycle. Provided readers with captivating stories and insights into Nordic art & design, culture, lifestyle, and heritage.</li>
            <li><strong><i>Nordstjernan</i></strong> A 12 to 24-page monthly newspaper with a remarkable legacy of over 150+ years of consecutive publishing, reaching over 160,000 subscribers with its in-depth, [now mostly] user-provider coverage of Swedish, American, and Swedish-American news and events.</li>
          </ul>
        </details>
        <details>
          <summary>Imagery</summary>
          <figure class="figure--wide">
            <Image src={imageInline01} alt="Nordic Reach magazine cover" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline02} alt="Nordic Reach magazine cover" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline03} alt="Nordic Reach magazine cover" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline04} alt="Nordic Reach magazine inside spread" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline05} alt="Nordic Reach magazine inside spread" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline06} alt="Nordic Reach magazine inside spread" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline07} alt="God Jul holiday cookbook" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline08} alt="Nordstjernan newspaper front page" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline09} alt="Vasastjärnan newspaper insert front page" />
          </figure>
        </details>
        <details open>
          <summary>Conclusion</summary>
          <p>Ulf gave me the ink to leave a small fingerprint on an esteemed platform that celebrated Scandinavian culture, artistry, and flavor. Working closely with him, consulting on the creative direction of so many dream projects of his may very well be the highlight of my overall career. From getting to meet famous photographers, artists, illustrators, and writers to helping tell their stories in a physical format that would be saved outside of the grasps of the internet… it feels special. I have a stack of back issues of nearly 40 magazines and many newspapers, an archive of nine years of a creative partnership with a brilliant and vibrant editor-in-chief. But that isn't really what lives with me daily (I mean, it does, in the basement): instead it is the skills honed of being able to take a client's dream and turn it into a thing in the real world: a magazine, a poster, an app, a website, a dream.</p>
        </details>
      </div>
  </section>
</Basic>
