---
import Basic from '../../layouts/Basic.astro';
import '../../styles/patterns.css';
import { Image } from 'astro:assets';
import imageInline01 from '../../assets/images/inline__nordic_reach_01a.jpeg';
import imageInline02 from '../../assets/images/inline__nordic_reach_01.jpeg';
import imageInline03 from '../../assets/images/inline__nordic_reach_02.jpeg';
import imageInline04 from '../../assets/images/inline__nordic_reach_03.jpeg';
import imageInline05 from '../../assets/images/inline__nordic_reach_04.jpeg';
import imageInline06 from '../../assets/images/inline__nordic_reach_05.jpeg';
import imageInline07 from '../../assets/images/inline__nordic_reach_06.jpeg';
import imageInline08 from '../../assets/images/inline__nordstjernan_01.jpeg';
import imageInline09 from '../../assets/images/inline__nordstjernan_02.jpeg';
---

<Basic>
  <section class="case-study">
      <div class="container">
        <p class="eyebrow small--extra">Case Study</p>
        <h1 class="largest">A Decade+ of Leading the Creative for a Scandinavian Lifestyle Publisher</h1>
        <div class="case-study__details small--extra row left-align row--four row--compact">
          <p class="column">Agency: Self</p>
          <p class="column">Role: Art Director</p>
          <p class="column">Year: 2005-2014</p>
          <p class="column">Client: Swedish News, Inc.</p>
        </div>
        <details open>
          <summary>Summary</summary>
          <p>For over a decade, I had the privilege of working closely with Ulf M책rtensson, the editor-in-chief and owner of Swedish News, Inc.: publisher of the key editorial properties <a href="https://nordicreach.com" target="_blank"><i>Nordic Reach</i></a>, <a href="https://nordstjernan.com" target="_blank"><i>Nordstjernan</i></a>, and <a href="https://xoxosweden.com" target="_blank">XOXO Sweden</a>. My role as Art Director and Editorial Designer allowed me to contribute my creative expertise and design skills to these prestigious publications. My journey began at Flat, a NYC SOHO ad boutique that initially assisted with their publications, and eventually, I became a staffed designer at <i>Nordic Reach</i>, where I dedicated ten years to the magazine and five years to the historic <i>Nordstjernan</i> newspaper.</p>
        </details>
        <details open>
          <summary>Collaboration & Projects</summary>
          <p>Throughout my tenure, I worked closely with Ulf M책rtensson, providing creative assistance for all aspects of Swedish News. This collaboration extended beyond the magazine and newspaper, encompassing a diverse array of projects that showcased the depth and breadth of our partnership. Notable endeavors included:</p>
          <ul>
            <li><strong>Books and Novels:</strong> I contributed my design and production skills to countless paperback books and novels, helping bring captivating stories, cookbooks, and biographies to life.</li>
            <li><strong>Printed Resources and Peripherals:</strong> My role encompassed designing and producing a wide range of printed materials and peripherals, maintaining a consistent visual identity across various touchpoints.</li>
            <li><strong>Digital Products:</strong> I played a pivotal role in the design of the information architecture, user experience, and theming of the magazine, newspaper, and the news forum website, <a href="https://xoxosweden.com" target="_blank">xoxosweden.com</a>.</li>
          </ul>
        </details>
        <details open>
          <summary>Role & Skillset</summary>
          <p>My role spanned various creative domains, allowing me to contribute significantly to the success of Nordic Reach and Nordstjernan. My responsibilities included:</p>
          <ul>
            <li><strong>Art Direction:</strong> Providing creative direction to ensure the visual appeal and coherence of the publications.</li>
            <li><strong>Design and Production:</strong> Crafting visually stunning layouts and overseeing the production process to deliver high-quality prints.</li>
            <li><strong>Illustration:</strong> Creating original illustrations to complement articles and enhance the overall visual storytelling.</li>
            <li><strong>Photo and Video Editing:</strong> Curating and editing captivating imagery and videos to enrich the reader's experience.</li>
            <li><strong>Copywriting:</strong> Crafting compelling copy to convey the essence of stories and captivate the audience.</li>
          </ul>
        </details>
        <details open>
          <summary>Format & Reach</summary>
          <p>The publications' formats and reach were remarkable:</p>
          <ul>
            <li><strong><i>Nordic Reach</i></strong> A quarterly 48- to 64-page magazine, captivating an audience of over 40,000 subscribers with each issue. Provided readers with captivating stories and insights into Nordic art & design, culture, lifestyle, and heritage.</li>
            <li><strong><i>Nordstjernan</i></strong> A 12 to 24-page monthly newspaper with a remarkable legacy of over 150+ years of consecutive publishing, reaching over 160,000 subscribers with its in-depth coverage of news and events in the Nordic region.</li>
          </ul>
        </details>
        <details>
          <summary>Imagery</summary>
          <figure class="figure--wide">
            <Image src={imageInline01} alt="Nordic Reach magazine cover" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline02} alt="Nordic Reach magazine cover" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline03} alt="Nordic Reach magazine cover" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline04} alt="Nordic Reach magazine inside spread" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline05} alt="Nordic Reach magazine inside spread" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline06} alt="Nordic Reach magazine inside spread" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline07} alt="God Jul holiday cookbook" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline08} alt="Nordstjernan newspaper front page" />
          </figure>
          <figure class="figure--wide">
            <Image src={imageInline09} alt="Vasastj채rnan newspaper insert front page" />
          </figure>
        </details>
        <details open>
          <summary>Conclusion</summary>
          <p>Working with <i>Nordic Reach</i> and <i>Nordstjernan</i> for a decade allowed me to contribute my creative passion and expertise to an esteemed platform that celebrates Nordic culture and heritage. My role as Art Director and Editorial Designer enabled me to collaborate closely with Ulf M책rtensson, delivering engaging and visually captivating publications to loyal subscribers. Our partnership extended beyond the magazine and newspaper, encompassing various projects, web products, and printed resources. I take pride in being a part of the rich legacy of these publications, enriching readers' lives with captivating stories, stunning visuals, and a deep appreciation for Nordic traditions. The collective efforts of the creative team have secured a cherished place in the hearts of subscribers, reinforcing the publications' status as a premier source of Nordic news and cultural insights for audiences around the world.</p>
        </details>
      </div>
  </section>
</Basic>
